@main-color: #46a;
@main-color-light: #79f;
@white: whitesmoke;
@black: #333;
@gray: #888;
@light-gray: #ccc;
@light-light-gray: #ddd;
@padd: 5px;
@toggle-width:70px;

.element-container{
	display:block;
	float:left;
	position:relative;
}

:focus, input:focus {
	outline:2px auto @main-color-light;
}

.container{
	padding:0;
	display:flex;
	font-family:Arial;
	background-color: @white;
	color: @black;
}

.container-content{
	padding: @padd;
}

.inline{
	display:inline-block;
}

.element-container.inline{
	margin-right: 5px;
}

.container-full{
	position:fixed;
	width:100%;
	height: 100%;
	top:0;
	left:0;
}

.control{
	vertical-align: bottom;
	display: inline-block;
}

.control .label:after{
	content: " ";
}

.control .label{
	cursor:pointer;
}

/* Button */

.button{
	line-height: 26px;
	display:inline-block;
	padding: 0 10px;
	font-weight:bold;
	margin:0;
	margin-right: 5px;
	color: white;
	background-color:@gray;
	border:none;
	cursor:pointer;
	min-height:26px;
	min-width:26px;
	vertical-align: bottom;
}

.button.active{
	background-color: @main-color;
	
}

.button:hover{
	background-color: @main-color;
}

/* Toggle */

.toggle{

}

.toggle-label{
	cursor:pointer;
}

.toggle-label:after{
	content: " ";
}

.toggle-main{
	height:26px;
	display:inline-block;
	line-height:26px;
	cursor:pointer;
	width:@toggle-width;
	background-color: @light-gray;
	font-weight:bold;
	color:@white;
	position: relative;
	vertical-align: middle;
}

.toggle-main > .toggle-switcher{
	width:50%;
	height:100%;
	display:inline-block;
	text-align: center;
	position: absolute;
}

.toggle .toggle-switcher.on{
	left:50%;
	background-color: @main-color;
	content:"I";
}

.toggle .toggle-switcher.off{
	left:0%;
	background-color: @gray;
}

.toggle .toggle-switcher.off:after{
	content:"O";
}

.toggle .toggle-switcher.on:after{
	content:"I";
}


/* Slider */

.slider{
	cursor:pointer;
	margin-right:10px;
	margin-left:5px;
	height: 26px;
	width: 100px;
	//background-color: @light-gray;
}

.slider-container{
	width: 100%;
	height: 11px;
	display: block;
	position: absolute;
	top: 7px;
}

.slider-line{
	top: 3px;
	height: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: @light-gray;
}

.slider-button{
	cursor:pointer;
	position:absolute;
	left:-5px;
	//top:-3px;
	width:11px;
	height:11px;
	//border-radius:50%;
	background-color: @gray;
}

.slider-button.active{
	background-color: @main-color;
}

.slider-progress{
	top:3px;
	background-color: @main-color;
	position: absolute;
	height: 5px;
//display: inline-block;
//width: 50%;
}

/* Text Input */
.text-input{
	vertical-align:middle;
	margin-right:5px;
}

.text-input > .control{
	margin-right:0;
}

.text-input input{
	font-size: 16px;
	padding: 0px 5px;
	//border: 1px solid #999;
	border: none;
	background-color: @light-gray;
	line-height: 26px;
	margin: 0;
}

/* Select */

.select{
	height:26px;
	outline: none;
}

.select-options{
	left:0;
	right:20px;
	//display:none;
	visibility:hidden;
	opacity:0;
	position:relative;
	margin-right:20px;
	z-index:100;
	//top:26px;
	background-color: @light-light-gray;
	//padding-top:5px;
	//border-top:1px solid @light-gray;
	//color:@white;

}

.select-option{
	line-height:26px;
	padding:0 10px;
	//color:@white;
	cursor:pointer;
}

.select-option.selected{
	background-color: @main-color;
	color:@white;
}

.select-button{
	width:100%;
	cursor:pointer;
	display: inline-block;
	//padding-left: 10px;
	background-color: @light-gray;
	line-height: 26px;
}

.select-button .icon{
	float:right;
	width:20px;
	font-weight: bold;
	color: @white;
	background-color: @gray;
	//padding: 0 5px;
	line-height: 26px;
	text-align:center;
	display: inline-block;
}

.select-button.active .icon{
	background-color: @main-color;
}

.select-button:hover .icon{
	background-color: @main-color;
}

.select-current{
	float:none;
	padding-left:10px;
}

/* Menu */

.menu{
	width:120px;
	background-color: @black;
}

.menu  > .button{
	display:block;
	margin:0;
	float:none;
}