.red {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff; }

.red.clickable:hover {
  background-color: #f32c1e;
  border-color: #f32c1e;
  color: #fff; }

.red.clickable:active,
.red.clickable.active {
  background-color: #f21f0f;
  border-color: #f21f0f;
  color: #fff; }

.red.clickable,
.red.clickable.disabled {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff; }

.pink {
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff; }

.pink.clickable:hover {
  background-color: #d81557;
  border-color: #d81557;
  color: #fff; }

.pink.clickable:active,
.pink.clickable.active {
  background-color: #ca1452;
  border-color: #ca1452;
  color: #fff; }

.pink.clickable,
.pink.clickable.disabled {
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff; }

.purple {
  background-color: #9C27B0;
  border-color: #9C27B0;
  color: #fff; }

.purple.clickable:hover {
  background-color: #89229b;
  border-color: #89229b;
  color: #fff; }

.purple.clickable:active,
.purple.clickable.active {
  background-color: #7e208f;
  border-color: #7e208f;
  color: #fff; }

.purple.clickable,
.purple.clickable.disabled {
  background-color: #9C27B0;
  border-color: #9C27B0;
  color: #fff; }

.deep-purple {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #fff; }

.deep-purple.clickable:hover {
  background-color: #5c34a4;
  border-color: #5c34a4;
  color: #fff; }

.deep-purple.clickable:active,
.deep-purple.clickable.active {
  background-color: #563098;
  border-color: #563098;
  color: #fff; }

.deep-purple.clickable,
.deep-purple.clickable.disabled {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #fff; }

.indigo {
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #fff; }

.indigo.clickable:hover {
  background-color: #3849a2;
  border-color: #3849a2;
  color: #fff; }

.indigo.clickable:active,
.indigo.clickable.active {
  background-color: #344397;
  border-color: #344397;
  color: #fff; }

.indigo.clickable,
.indigo.clickable.disabled {
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #fff; }

.blue {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #fff; }

.blue.clickable:hover {
  background-color: #0d8aee;
  border-color: #0d8aee;
  color: #fff; }

.blue.clickable:active,
.blue.clickable.active {
  background-color: #0c82df;
  border-color: #0c82df;
  color: #fff; }

.blue.clickable,
.blue.clickable.disabled {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #fff; }

.light-blue {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff; }

.light-blue.clickable:hover {
  background-color: #0398db;
  border-color: #0398db;
  color: #fff; }

.light-blue.clickable:active,
.light-blue.clickable.active {
  background-color: #038dcc;
  border-color: #038dcc;
  color: #fff; }

.light-blue.clickable,
.light-blue.clickable.disabled {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff; }

.cyan {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff; }

.cyan.clickable:hover {
  background-color: #00a5bb;
  border-color: #00a5bb;
  color: #fff; }

.cyan.clickable:active,
.cyan.clickable.active {
  background-color: #0098ab;
  border-color: #0098ab;
  color: #fff; }

.cyan.clickable,
.cyan.clickable.disabled {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff; }

.teal {
  background-color: #009688;
  border-color: #009688;
  color: #fff; }

.teal.clickable:hover {
  background-color: #007d71;
  border-color: #007d71;
  color: #fff; }

.teal.clickable:active,
.teal.clickable.active {
  background-color: #006d63;
  border-color: #006d63;
  color: #fff; }

.teal.clickable,
.teal.clickable.disabled {
  background-color: #009688;
  border-color: #009688;
  color: #fff; }

.green {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; }

.green.clickable:hover {
  background-color: #449d48;
  border-color: #449d48;
  color: #fff; }

.green.clickable:active,
.green.clickable.active {
  background-color: #409343;
  border-color: #409343;
  color: #fff; }

.green.clickable,
.green.clickable.disabled {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; }

.light-green {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #fff; }

.light-green.clickable:hover {
  background-color: #7eb73d;
  border-color: #7eb73d;
  color: #fff; }

.light-green.clickable:active,
.light-green.clickable.active {
  background-color: #76ab39;
  border-color: #76ab39;
  color: #fff; }

.light-green.clickable,
.light-green.clickable.disabled {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #fff; }

.lime {
  background-color: #CDDC39;
  border-color: #CDDC39;
  color: #fff; }

.lime.clickable:hover {
  background-color: #c6d626;
  border-color: #c6d626;
  color: #fff; }

.lime.clickable:active,
.lime.clickable.active {
  background-color: #bac923;
  border-color: #bac923;
  color: #fff; }

.lime.clickable,
.lime.clickable.disabled {
  background-color: #CDDC39;
  border-color: #CDDC39;
  color: #fff; }

.yellow {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
  color: #fff; }

.yellow.clickable:hover {
  background-color: #ffe821;
  border-color: #ffe821;
  color: #fff; }

.yellow.clickable:active,
.yellow.clickable.active {
  background-color: #ffe712;
  border-color: #ffe712;
  color: #fff; }

.yellow.clickable,
.yellow.clickable.disabled {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
  color: #fff; }

.amber {
  background-color: #FFC107;
  border-color: #FFC107;
  color: #fff; }

.amber.clickable:hover {
  background-color: #ecb100;
  border-color: #ecb100;
  color: #fff; }

.amber.clickable:active,
.amber.clickable.active {
  background-color: #dda600;
  border-color: #dda600;
  color: #fff; }

.amber.clickable,
.amber.clickable.disabled {
  background-color: #FFC107;
  border-color: #FFC107;
  color: #fff; }

.orange {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff; }

.orange.clickable:hover {
  background-color: #e68900;
  border-color: #e68900;
  color: #fff; }

.orange.clickable:active,
.orange.clickable.active {
  background-color: #d68000;
  border-color: #d68000;
  color: #fff; }

.orange.clickable,
.orange.clickable.disabled {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff; }

.deep-orange {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #fff; }

.deep-orange.clickable:hover {
  background-color: #ff4408;
  border-color: #ff4408;
  color: #fff; }

.deep-orange.clickable:active,
.deep-orange.clickable.active {
  background-color: #f83c00;
  border-color: #f83c00;
  color: #fff; }

.deep-orange.clickable,
.deep-orange.clickable.disabled {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #fff; }

.brown {
  background-color: #795548;
  border-color: #795548;
  color: #fff; }

.brown.clickable:hover {
  background-color: #694a3e;
  border-color: #694a3e;
  color: #fff; }

.brown.clickable:active,
.brown.clickable.active {
  background-color: #5f4339;
  border-color: #5f4339;
  color: #fff; }

.brown.clickable,
.brown.clickable.disabled {
  background-color: #795548;
  border-color: #795548;
  color: #fff; }

.gray {
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  color: #fff; }

.gray.clickable:hover {
  background-color: #919191;
  border-color: #919191;
  color: #fff; }

.gray.clickable:active,
.gray.clickable.active {
  background-color: #8a8a8a;
  border-color: #8a8a8a;
  color: #fff; }

.gray.clickable,
.gray.clickable.disabled {
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  color: #fff; }

.blue-gray {
  background-color: #607D8B;
  border-color: #607D8B;
  color: #fff; }

.blue-gray.clickable:hover {
  background-color: #566f7c;
  border-color: #566f7c;
  color: #fff; }

.blue-gray.clickable:active,
.blue-gray.clickable.active {
  background-color: #4f6773;
  border-color: #4f6773;
  color: #fff; }

.blue-gray.clickable,
.blue-gray.clickable.disabled {
  background-color: #607D8B;
  border-color: #607D8B;
  color: #fff; }

.error {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff; }

.error.clickable:hover {
  background-color: #f32c1e;
  border-color: #f32c1e;
  color: #fff; }

.error.clickable:active,
.error.clickable.active {
  background-color: #f21f0f;
  border-color: #f21f0f;
  color: #fff; }

.error.clickable,
.error.clickable.disabled {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff; }

.success {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; }

.success.clickable:hover {
  background-color: #449d48;
  border-color: #449d48;
  color: #fff; }

.success.clickable:active,
.success.clickable.active {
  background-color: #409343;
  border-color: #409343;
  color: #fff; }

.success.clickable,
.success.clickable.disabled {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; }

/* Main Part */
html {
  font-size: 17px; }

/* Button */
.button {
  line-height: 26px;
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  min-height: 26px;
  min-width: 26px;
  vertical-align: bottom;
  text-align: center; }

.button.quiet {
  color: inherit;
  background-color: transparent; }

.button.flat {
  border: none;
  border-radius: 0; }

.button.s,
.s > .button,
.s > div > .button {
  line-height: 20px;
  min-height: 20px;
  line-height: inherit; }

.button.disabled,
.button.disabled:hover,
.button.disabled:active {
  opacity: 0.7;
  cursor: default; }

.button > .label {
  line-height: normal;
  padding: 0 10px; }

.button.simple > .label {
  padding: 0; }

.button > .label.notext {
  padding: 0;
  width: 26px; }

.button > .label.notext > .label-icon {
  margin-right: 0; }

/* Text Input */
.text-input {
  line-height: inherit;
  font-size: inherit;
  border: 1px solid black;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* Toolbar */
.toolbar {
  justify-content: space-between;
  line-height: 26px;
  height: 26px; }

.toolbar > div > * {
  margin-right: 5px; }

.toolbar > div > *:last-child,
.toolbar.group > div > * {
  margin-right: 0; }

.toolbar.s {
  line-height: 20px;
  font-size: 14px;
  height: 20px;
  padding: 3px 5px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .button {
    line-height: 39px; }

  .toolbar {
    line-height: 36px;
    height: 36px; } }

/*# sourceMappingURL=wf.css.map */
