    
// Colors 
$white: #fff;
$whitesmoke: whitesmoke;
$black: #333;
$gray: #888;
$light-gray: #ccc;
$light-light-gray: #ddd;
$default: '' #ddd;
$default-lit: #e5e5e5;
$default-shadowed: #ccc;
$green: #5a5;
$red: #b44;
$green-shadowed: #494;
$red-shadowed: #a33;
$green-lit: #5b5;
$red-lit: #c55;
$blue:#46a;
$blue-shadowed:#359;
$blue-lit:#57b;
$green2:#55AA88;
$green2-shadowed:#497;
$green2-lit:#6b9;
$jungle-green:#29AB87;
$jungle-green-shadowed:#199a76;
$jungle-green-lit:#40bc98;
$lightgray: #d3d3d3;
$gainsboro: #dcdcdc;
$silver: #c0c0c0;
$darkgray: #a9a9a9;
$gray: #808080;
$slategray: #708090;
$lightslategray: #778899;
$blackblack: #000;
$whitewhite: #fff;
$crayola: #FCE883;

// Material design colors
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deeppurple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$lightblue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$lightgreen: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deeporange: #FF5722;
$brown: #795548;
$gray: #9E9E9E;
$bluegray: #607D8B;

$colors: 'red' $red, 
    'pink' $pink, 
    'purple' $purple, 
    'deep-purple' $deeppurple, 
    'indigo' $indigo, 
    'blue' $blue, 
    'light-blue' $lightblue, 
    'cyan' $cyan, 
    'teal' $teal, 
    'green' $green, 
    'light-green' $lightgreen, 
    'lime' $lime,
    'yellow' $yellow, 
    'amber' $amber, 
    'orange' $orange, 
    'deep-orange' $deeporange, 
    'brown' $brown, 
    'gray' $gray, 
    'blue-gray' $bluegray,
    'error' $red,
    'success' $green,
    'white' $white,
    'whitewhite' $white, // To be removed
    'gainsboro' $gainsboro
;

$color-lightness-range: 10 20 30 40;
$color-darkness-range: 60 70 80 90;


@mixin color-style($color){
    background-color: $color;
    border-color: $color;

    @if lightness($color) > 60{
        color: $black;
    }
    @else {
        color: $white;
    }
}

@each $name, $value in $colors {
    .#{$name}{
        @include color-style($value);
    }

    // @each $i in $color-lightness-range{
    //     .#{$name}-#{$i * 10}{
    //         @include color-style(lighten($value, ( lightness($value) / 50 ) * ( 50 - $i )));
    //     }
    // }
    // .#{$name}-500{
    //     @include color-style($value);
    // }
    // @each $i in $color-darkness-range{
    //     .#{$name}-#{$i * 10}{
    //         @include color-style(darken($value, (( 100 - lightness($value)) / 50 ) * ( $i - 50 )));
    //     }
    // }

    // Clickable colors

    .#{$name}.clickable:hover{
        //background-color:darken($value, 5);
        @include color-style(darken($value, 5));
    }

    .#{$name}.clickable:active,
    .#{$name}.clickable.active,{
        //background-color:darken($value, 8);
        @include color-style(darken($value, 8));
    }

    .#{$name}.clickable,
    .#{$name}.clickable.disabled{
        @include color-style($value);
    }

    // Text Input colors
    .#{$name}.text-input{
        border-color:darken($value, 5);
        background-color:lighten($value, 1);
    }

    .border-#{$name}{
        border-color:$value;
    }

    
}


/* Main Part */
html{
    font-size: 17px;
}

/* Button */
.button{
    line-height: 26px;
    display:inline-block;
    padding: 0;
    margin:0;
    background-color:inherit;
    border:none;
    cursor:pointer;
    min-height:26px;
    min-width:26px;
    vertical-align: bottom;
    text-align:center;
}

.button.quiet{
    //border:none;
    color:inherit;
    background-color: transparent;
}

.button.flat{
    border:none;
    border-radius:0;
}

.button.s,
.s > .button,
.s > div > .button{
    line-height:20px;
    min-height:20px;
    line-height:inherit;
    
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active{
    opacity:0.7;
    cursor:default;
}

.button > .label{
    line-height: normal;
    padding:0 10px;
}

.button.simple > .label{
    padding:0;
}

.button > .label > .label-icon{
    //margin-right:5px;
}

.button > .label.notext{
    padding:0;
    width:26px;
}

.button > .label.notext > .label-icon{
    margin-right:0;
}

/* Dropdown */
.dropdown-container{
    display:inline-block;
    position:relative;
}

.dropdown-container > .dropdown{
    margin-top:5px;
    box-shadow: 0 0px 12px rgba(0,0,0,.175);
    //padding:5px 0;
    z-index:1000;
}

.dropdown-container.active{
    //margin-bottom:-10px;
}

.dropdown.panel{
}

/*.dropdown::before{
    position:absolute;
    top:-10px;
    left:5px;
    content:"";
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:10px solid @whitewhite;
}*/

.dropdown-container > .button.active{
    //padding-bottom:5px;
    //margin-bottom:-5px;
}

.dropdown{

    text-align:left;
    min-width:100px;
    //display:none;
    left: 0;
    top: 100%;
    position: absolute;
    padding:10px 0;
    //background-color: @light-gray;
    z-index:101;
}

.dropdown > .button{
    text-align:left;
}



/* Text Input */
.text-input{
    //height:26px;
    line-height:inherit;
    font-size:inherit;
    border:1px solid black;
    padding:0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Toolbar */
.toolbar{
    justify-content:space-between;
    line-height:26px;
    height:26px;
}

.toolbar > div > *{
    margin-right:5px;
}

.toolbar > div > *:last-child,
.toolbar.group > div > *{
    margin-right:0;
}

.toolbar.s{
    line-height: 20px;
    font-size: 14px;
    height: 20px;
    padding: 3px 5px;
}

/* Windows */
.windows > .maximized,
.windows > *{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    outline: none;
}




@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .button{
        line-height: 39px;
    }

    .toolbar{
        line-height:36px;
        height:36px;
    }
}