    
// Colors 
$white: #fff;
$whitesmoke: whitesmoke;
$black: #333;
$gray: #888;
$light-gray: #ccc;
$light-light-gray: #ddd;
$default: '' #ddd;
$default-lit: #e5e5e5;
$default-shadowed: #ccc;
$green: #5a5;
$red: #b44;
$green-shadowed: #494;
$red-shadowed: #a33;
$green-lit: #5b5;
$red-lit: #c55;
$blue:#46a;
$blue-shadowed:#359;
$blue-lit:#57b;
$green2:#55AA88;
$green2-shadowed:#497;
$green2-lit:#6b9;
$jungle-green:#29AB87;
$jungle-green-shadowed:#199a76;
$jungle-green-lit:#40bc98;
$light-gray: #d3d3d3;
$gainsboro: #dcdcdc;
$silver: #c0c0c0;
$darkgray: #a9a9a9;
$gray: #808080;
$slategray: #708090;
$lightslategray: #778899;
$blackblack: #000;
$whitewhite: #fff;
$crayola: #FCE883;

// Material design colors
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deeppurple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$lightblue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$lightgreen: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deeporange: #FF5722;
$brown: #795548;
$gray: #9E9E9E;
$bluegray: #607D8B;

$colors: 'red' $red $white, 
    'pink' $pink $white, 
    'purple' $purple $white, 
    'deep-purple' $deeppurple $white, 
    'indigo' $indigo $white, 
    'blue' $blue $white, 
    'light-blue' $lightblue $white, 
    'cyan' $cyan $white, 
    'teal' $teal $white, 
    'green' $green $white, 
    'light-green' $lightgreen $black, 
    'lime' $lime $black,
    'yellow' $yellow $black, 
    'amber' $amber $white, 
    'orange' $orange $white, 
    'deep-orange' $deeporange $white, 
    'brown' $brown $white, 
    'gray' $gray $white, 
    'blue-gray' $bluegray $white,
    'error' $red $white,
    'success' $green $white,
    'white' $white $black,
    'black' $black $white,
    'whitesmoke' whitesmoke $black,
    'whitewhite' $white $black, // To be removed
    'gainsboro' $gainsboro $black
;

$color-lightness-range: 10 20 30 40;
$color-darkness-range: 60 70 80 90;

// Sizes
$S: 20px;
$M: 26px;
$L: 36px;

$sizes: 's' $S,
    'm' $M,
    'l' $L
;


@mixin color-style($color, $tcolor){
    background-color: $color;
    border-color: $color;
    color: $tcolor;
    fill: $tcolor;
}

@each $name, $value, $tcolor in $colors {
    .#{$name}{
        @include color-style($value, $tcolor);

        
        
        
        &.group,
        & > .group,
        & > .group > .group{
            // Segmented Control
            

            & > .button{
                @include color-style($value, $tcolor);

                &:active,
                &.active{
                    @include color-style(darken($value, 8), $tcolor);
                }

                &:hover{
                    @include color-style(darken($value, 5), $tcolor);
                }

                &.disabled{
                    @include color-style($value, $tcolor);
                }
            }
        }

        &{
            &.segmented-control{
                & > *{
                    border-color:darken($value, 8) !important;
                }
            }
        }
    }

    // @each $i in $color-lightness-range{
    //     .#{$name}-#{$i * 10}{
    //         @include color-style(lighten($value, ( lightness($value) / 50 ) * ( 50 - $i )));
    //     }
    // }
    // .#{$name}-500{
    //     @include color-style($value);
    // }
    // @each $i in $color-darkness-range{
    //     .#{$name}-#{$i * 10}{
    //         @include color-style(darken($value, (( 100 - lightness($value)) / 50 ) * ( $i - 50 )));
    //     }
    // }

    // Clickable colors

    .#{$name}.clickable:hover,
    .#{$name}.dropdown-container > .clickable:hover{
        //background-color:darken($value, 5);
        @include color-style(darken($value, 5), $tcolor);
    }

    .#{$name}.button:active,
    .#{$name}.button.active,
    .#{$name}.dropdown-container > .button:active,
    .#{$name}.dropdown-container > .button.active{
        //background-color:darken($value, 8);
        @include color-style(darken($value, 8), $tcolor);
    }

    .#{$name}.button,
    .#{$name}.button.disabled{
        @include color-style($value, $tcolor);
    }

    // Text Input colors
    .#{$name}.text-input{
        border-color:darken($value, 5);
        background-color:lighten($value, 1);
    }

    #{$name}.border-darker{
        border-color:darken($value, 5);
    }

    .border-#{$name}{
        border-color:$value !important;
    }

    // Dropdown colors
    .#{$name}.dropdown-container > .dropdown-panel-container > .dropdown{
        @include color-style($value, $tcolor);
    }
    .#{$name}.dropdown-container > .dropdown-panel-container:after{
        border-bottom-color: $value;
    }

}


/* Main Part */
html{
    font-size: 17px;
}

:focus, input:focus {
    outline:2px auto $blue;
    outline: none; //Test
    //outline:0;
    //box-shadow: 0 0 5px @main-color-light;
}

.hidden{
    display:none !important;
}

.s{
    font-size: 14px;
}

.l{
    font-size: #{$L/$M}em;
}

.container.root{
    display: flex;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.inline{
    display:inline-block;
}

.content-blocks{
    display:flex;
}

.content-direction-vertical{
    flex-direction:column;
}

.content-direction-horizontal{
    flex-direction:row;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align: right;
}

.aligncenter{
    text-align: center;
}

/* Buuton */
.button{
    min-width:$M;
    padding:0 #{$M / 4};
    text-align: center;
    display: inline-flex;
    height: $M;
    line-height: $M;
    vertical-align: middle;
    box-sizing: border-box;

    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active,
.button.disabled.active{
    opacity:0.7;
    cursor:default;
}

.button.quiet{
    color:inherit;
    fill: inherit;
    background-color: transparent;
}

.button > * {
    vertical-align: baseline;
    line-height: inherit;
    display: inline !important;
}

.button > .icon{
    width:26px;
    height:26px;
}

.button.active:not(.disabled) > *,
.button:active:not(.disabled) > *{
    position:relative;
    top:1px;
    vertical-align:-1.5px;
}


.button > *:after{
    content: ' ';
}

.button > *:first-child{
    //padding-left: 0.6em;
}

.button > *:last-child{
    //padding-right: 0.6em;
}

.button > .icon:only-child{
    padding:0;
    margin: 0 -#{$M / 4};
}

.button.s,
.s > .button,
.toolbar.s > div > .button,
.toolbar.s > div > .dropdown-container > .button,
.s > .group > .button{
    height: $S;
    padding:0 #{$S / 4};
    min-width: $S;
    line-height: $S;

    & > .icon:only-child{
        margin: 0 -#{$S / 4};
    }

    & > .icon{
        width: $S;
        height: $S;
    }
}


.button.m{
    height: $M;
    padding:0 #{$M / 4};
    min-width: $M;
    line-height: $M;

}

.button.m > .icon:only-child{
    margin: 0 -#{$M / 4};
}

.button.l{
    height: $L;
    padding:0 #{$L / 4};
    min-width: $L;
    line-height: $L;

}

.button.l > .icon:only-child{
    margin: 0 -#{$L / 4};
}

.toolbar > div > .button{
    //min-width: 26px;
    line-height: inherit;
    //padding: 0 0.6rem;
}

.button:empty:after{
    //content:'-';
    //color:transparent;
}


.button.link{
    padding:0 !important;
    background-color: inherit !important;
    color:inherit !important;

    &:hover,
    &:active,
    &.active{
        background-color: inherit;
        color:inherit;
        text-decoration: underline;
    }
}


/* Checkbox, RadioButton */
.checkbox,
.radio{
    cursor:pointer;
    border-width:1px; 
    -webkit-appearance: none;
    background-color: white;
    width: 16px;
    height: 16px;
    margin: 0;
    border: 1px solid $black;
    margin: 4px 0;
    //border-radius:13px;
}

.checkbox:checked:after,
.radio:checked:after{
    display: inline-block;
    background-color: $black;
    width:10px;
    height:10px;
    margin:2px;
    content: '-';
    //border-radius:8px;
}

.radio{
    border-radius:8px;

    &:checked:after{
        border-radius: 5px;
    }
}

/* Clickable */
.clickable{
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Container */

.container{
    position:relative;
    padding:0;
    display:flex;
    //font-family:Arial;
    //background-color: @white;
    //color: @black;
}

.content-type-blocks{
    display:flex;
}

.content-type-lines{
    display:block;
}

.container.display-type-new-line.content-type-blocks{
    display:flex;
}

.container.display-type-inline.content-type-blocks{
    display:inline-flex;
}

.container.display-type-new-line.content-type-lines{
    display:block;
}

.container.display-type-inline.content-type-lines{
    display:inline-block;
}

.container.display-type-unmaximized, .container.display-type-unmaximized-pinned{
    z-index:200;
    position:absolute;
    width:50%;
    height:50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
}

.container.display-type-none{
    display:none;
}

.container.hidden{
    display:none;
}



/* Container Handle */
.container-handle{
    display: flex;
    cursor:pointer;
    padding:0 5px;
    opacity: 0.5;
    max-width:100px;
    //min-width:100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container-handle.inactive{
    opacity: 0.5;
}

.container-handle.quiet.inactive:not(:hover){
    background-color: transparent;
    color:inherit;
    //opacity:1;
}

.container-handle.g-style{
    background-color: inherit;
    color:inherit;
    border-bottom-width: 0;
    border-bottom-style: solid;
    //padding-bottom:
}

.container-handle.tab.g-style.active,
.container-handle.tab.g-style:hover,
.container-handle-maximized.g-style.active,
.container-handle-maximized.g-style:hover{
    border-bottom-width: 5px;
}

.container-handle.quiet.inactive:hover{
    //background-color: inherit;
    //opacity:1;
}

.container-handle.active{
    opacity:1;
}

.container-handle.inactive:hover{
    opacity: 0.6;
}

.container-handle > .label{
    text-overflow:clip;
}

.container-handle.topped .label{
    //font-weight:bold;
    //text-decoration:underline;
}

.container-handle > *{
    margin-right: 5px;
}

.container-handle > *:last-child{
    margin-right: 0;
}

.container-handle.tab,
.container-handle-maximized{
    padding-bottom: 5px;
    margin-bottom:-5px;
}

.container-handle.pinned{
    padding-top: 5px;
    margin-top:-5px;
}

/* Containers */
.containers > .container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* Dropdown */
.dropdown-container{
    display:inline-block;
    position:relative;
}

.dropdown-container > .dropdown{
    margin-top:5px;
    box-shadow: 0 0px 12px rgba(0,0,0,.175);
    //padding:5px 0;
    z-index:1000;
}

.dropdown-container.active{
    //margin-bottom:-10px;
}

.dropdown.panel{
}

.dropdown-pointer{
    bottom: -10px;
    border-style: solid;
    position: absolute;
    width: 0;
    content: ' ';
    height: 0;
    border-width: 0 10px 10px 10px;
    border-color: transparent;
    z-index: 1000;
    border-bottom-color: white;
}

.dropdown-pointer-back{
    bottom: -9px;
    border-style: solid;
    position: absolute;
    width: 0;
    content: ' ';
    height: 0;
    border-width: 0 10px 10px 10px;
    border-color: transparent;
    z-index: 999;
    border-bottom-color: #ccc;
}

.dropdown-panel-container{
    position:static;
}

.dropdown-panel-container:after{
    bottom: -9px;
    border-style: solid;
    position: absolute;
    width: 0;
    content: ' ';
    height: 0;
    border-width: 0 9px 9px 9px;
    border-color: transparent;
    z-index: 1011;
    border-bottom-color: white;
    left:calc(50% - 9px),
}

.dropdown-panel-container:before{
    bottom: -8px;
    border-style: solid;
    position: absolute;
    width: 0;
    content: ' ';
    height: 0;
    border-width: 0 9px 9px 9px;
    border-color: transparent;
    z-index: 999;
    border-bottom-color: #ccc;
    left:calc(50% - 9px),
}

/*.dropdown::before{
    position:absolute;
    top:-10px;
    left:5px;
    content:"";
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:10px solid @whitewhite;
}*/

.dropdown-container > .button.active{
    //padding-bottom:5px;
    //margin-bottom:-5px;
}

.dropdown{
    line-height: initial;
    font-size: initial;
    color: initial;
    background-color: initial;
    box-shadow: 0 0px 12px rgba(0,0,0,.175);
    border: 1px solid #ccc;
    margin-top: 8px;
    text-align:initial;
    min-width:100px;
    //display:none;
    left: 0;
    top: 100%;
    position: absolute;
    padding:10px 0;
    background-color: white;
    z-index:1010;
}

.dropdown > .button{
    text-align:left;
}

/* Group */
.group{
    display:inline;
}


/* Label */

.label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:inline;
}

.label{
    //padding-right:5px;
}

.label-icon:after{
    content:" ",
}

.label:after{
    display: inline-block;
    content:" ",
}

.label-icon{
    display:inline;
    //padding-right: 5px;
}

.label-icon:empty{
    padding:0;
}

.label.noicon .label-icon{
    display:none;
}

.label.notext .label-text{
    display:none;
}

.label.notext .label-icon:after{
    display:none;
}

.label.notext .label-text:after{
    display:none;
    content:'';
}

/* Lines, Blocks */
.lines{
    overflow:auto;
    display:block;
    flex: 1 0 0px; // Testing
}

.lines.inline{
    display:inline-block;
}

.blocks{
    display:flex;
}

.blocks.inline{
    display:inline-flex;
}

.rows{
    overflow:auto;
    display:flex;
    flex-direction:column,
}

.rows.inline,
.columns.inline{
    display:inline-flex;
}

.columns{
    overflow:auto;
    display:flex;
    flex-direction:row;
}

/* Panel */

.panel{
    padding:5px;
}

.panel:focus{
    outline:none;
}

.panel.content-type-blocks.content-direction-vertical > *{
    margin:0;
    margin-bottom:5px;
}

.panel.content-type-blocks.content-direction-vertical > *:last-child{
    margin-bottom:0;
}

.panel.content-type-blocks.content-direction-horizontal > *{
    margin:0;
    margin-right:5px;
}

.panel.content-type-blocks.content-direction-horizontal > *:last-child{
    margin-right:0;
}

.panel > .toolbar,
.panel > .panel,
.toolbar > div > .panel{
    padding:0;
}

/* Segmented Control */
.segmented-control{
    & > *{
        border-style:solid;
        border-width:1px;
        border-right:none;
        //background-color:$white;
        //color:$black;

        &:last-child{
            border-right-width:1px;
            border-right-style:solid;
        }

        &:active,
        &.active{
            //background-color:$black;
            //color:$white;
        }
    }
}


/* Select */

.select{
    height:26px;
    outline: none;
}

.select-container{
    vertical-align: bottom;
    display: inline-block;
    height: 26px;
}

.select-options{
    min-width:70px;
    left:0;
    //right:20px;
    //display:none;
    padding:5px 0;
    visibility:hidden;
    opacity:0;
    position:relative;
    //margin-right:20px;
    z-index:100;
    //top:26px;
    background-color: $light-gray;
    //padding-top:5px;
    //border-top:1px solid @light-gray;
    //color:@white;

}

.select-option{
    padding:0 10px;
    line-height:26px;
    //padding:0 10px;
    //color:@white;
    cursor:pointer;
}

.select-option.focused{
    background-color: $blue;
    color:$white
}

.select-current{
    padding-left: 5px;
    height: 26px;
    width:100%;
    cursor:pointer;
    display: inline-block;
    //padding-left: 10px;
    background-color: $light-gray;
    line-height: 26px;
}

.select-button{
    margin-right: 0;
}

.select-button.active .icon{
    background-color: $blue;
}

.select-button:hover .icon{
    background-color: $blue;
}

.select-current{
    //float:none;
    //padding-left:10px;
}

/* Sizes */
@each $name, $value in $sizes{
    #{$name}{
        //
    }
}

/* Slider */

.slider{
    margin-right:5px;
    height: 26px;
}

.slider-container{
    cursor:pointer;
    width: 100px;
    height: 11px;
    display: inline-block;
    position: relative;
    margin:0 5px;
    margin-bottom: 7px;
    margin-top: 8px;
    vertical-align: bottom;
}

.slider-line{
    top: 3px;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $light-gray;
}

.slider-button{
    cursor:pointer;
    position:absolute;
    left:-5px;
    //top:-3px;
    width:11px;
    height:11px;
    //border-radius:50%;
    background-color: $gray;
}

.slider-button.active{
    background-color: $blue;
}

.slider-progress{
    top:3px;
    background-color: $blue;
    position: absolute;
    height: 5px;
//display: inline-block;
//width: 50%;
}

/* TabView */
.tab-view{
    //padding:5px;
    margin:5px;
    flex:1;
    display: flex;
}

.tab-view-documents{
    display:flex;
    flex:1;
}

.tab-view.content-direction-horizontal .tab-view-tabs{
    flex-direction:column;
}

.tab-view.content-direction-horizontal .tab-view-tab{
    margin-top:5px;
}

.tab-view.content-direction-vertical .tab-view-tab{
    margin-left:5px;
}

.tab-view-tab .label{
    //padding-left:5px;
}

.tab-view-tabs{
    //padding-top: 5px;

}

.tab-view-tab{
    cursor:pointer;
    //margin:5px 0 0 5px;
    float:left;
    padding-left:10px;
    padding-right:5px;
    background-color: $white;
    color: $black;
    opacity:0.5;
}

.tab-view-tab:hover{
    opacity:0.6;
}

.tab-view-tab.active,
.tab-view-tab.active:hover{
    opacity:1;
    //background-color: @white;
}

.tab-view-document{
    padding:5px;
    //display:none;
    //position:absolute;
    background-color: $white;
    flex:1;
}



/* Text Input */
.text-input{
    //height:26px;
    line-height:inherit;
    font-size:inherit;
    border:1px solid black;
    padding:0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Toggle */

.toggle{
}

.toggle-label{
    cursor:pointer;
}

.toggle-label:after{
    content: " ";
}

.toggle-main{
    height:26px;
    display:inline-block;
    line-height:26px;
    cursor:pointer;
    width:50px;
    background-color: $light-gray;
    font-weight:bold;
    color:$white;
    position: relative;
    vertical-align: bottom;
}

.toggle-main > .toggle-switcher{
    width:50%;
    height:100%;
    display:inline-block;
    text-align: center;
    position: absolute;
}

.toggle .toggle-switcher.on{
    left:50%;
    background-color: $blue;
    content:"I";
}

.toggle .toggle-switcher.off{
    left:0%;
    background-color: $gray;
}

.toggle .toggle-switcher.off:after{
    content:"O";
}

.toggle .toggle-switcher.on:after{
    content:"I";
}


/* Toolbar */
.toolbar{
    justify-content:space-between;
    line-height:26px;
    height:26px;
}

.toolbar > div > *{
    margin-right:5px;
}

.toolbar > div > *:last-child,
.toolbar.group > div > *{
    margin-right:0;
}

.toolbar.s{
    line-height: 20px;
    font-size: 14px;
    height: 20px;
    padding: 3px 5px;
}

/* Windows */
.windows > .maximized,
.windows > *{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    outline: none;
}




@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .button{
        //line-height: 39px;
    }

    .toolbar{
        //line-height:36px;
        //height:36px;
    }
}